src/main/resources/xsd/banque.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://isi.com/banque"
           xmlns:tns="http://isi.com/banque"
           elementFormDefault="qualified">

    <!-- Requête pour obtenir le solde d'un compte -->
    <xs:element name="getAccountRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="accountNumber" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Réponse contenant le solde du compte -->
    <xs:element name="getAccountResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="balance" type="xs:double"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
